{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support"
  ],
  "env": {
    "development": {
      "plugins": [
        ["babel-root-slash-import", {
          "rootPathSuffix": "app"
        }],
        "transform-react-jsx-source"
      ]
    }
  }
}